main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.book-page__cover {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}

.book-page {
    text-align: center;
}

.book-page__title {
    margin: 0 auto 0.3rem;
}

.book-page__type {
    margin: 0.3em auto;

    font-size: 0.75em;

    color: #828282;
}

.book-page__price {
    margin: 1rem auto;
}

.book-page__description {
    line-height: 1.5rem;
    letter-spacing: 0.08rem
}

.link {
    color: #53889D;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5em;

    width: 60%;

    margin: 1.4rem auto;
}

.buttons__cart,
.buttons__wishlist {
    height: 3em;

    font-weight: 600;

    text-transform: uppercase;

    border: none;
    border-radius: 0.5em;

    color: white;

    transition: 0.5s;
}

.buttons__cart:hover,
.buttons__wishlist:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.37),
    inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}

.buttons__cart {
    background-color: #D96F6E
}

.buttons__wishlist {
    background-color: #F3A492;
}

.publishing {
    margin: 1rem auto;

    color: #828282;
}

.book-genres {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;

    width: fit-content;

}

.book-genres__title {
    grid-area: 1/1/2/3;
    font-weight: 700;

    text-align: center;

    color: #4F4F4F
}

.genre_yellow-pink {
    grid-area: 2/1/3/2;
}

.genre_blue-baby {
    grid-area: 2/2/3/3;
}

.share {
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: repeat(5, 1fr);

    margin-top: 2rem;
}

.share__title {
    grid-area: 1/1/2/6;
    font-weight: 700;

    text-align: center;

    color: #4F4F4F
}

.share-icon {
    padding: 5px;
}

.books-type-title {
    margin-left: 1.5rem;
}

.books-wrapper {
    width: 100%;
    min-height: 5rem;
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: 1rem;
}

.books-line {
    display: flex;
    margin-left: 1.5rem;
}