@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

body {
    max-width: 87vw;
    height: 100vh;
    margin: auto;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;

    background-color: white;
}

main {
    display: flex;
    flex-direction: column;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 700;
}

h1 {
    font-size: 1.95em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.25em;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #333333;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    body {
        max-width: 80vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    body {
        max-width: 60vw;
    }
}

@media screen and (min-width: 1280px) {
    body {
        max-width: 45vw;
    }
}

p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;

    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.genre {
    width: fit-content;
    height: fit-content;

    padding: 0.55em 1.3em;

    font-style: normal;
    font-size: 0.75em;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;

    background-color: #333333;
    border-radius: 0.5rem;
}

.genre_blue-baby {
    background: linear-gradient(90deg, #53889D 0%, #BBD1D9 100%);
}

.genre_pink-blush {
    background: linear-gradient(90deg, #F3A492 0%, #D96F6E 100%), #C4C4C4;
}

.genre_yellow-pink {
    background: linear-gradient(90deg, #F2D05C 0%, #F3A492 100%);
}

.genre_baby-yellow {
    background: linear-gradient(90deg, #BBD1D9 0%, #F2D05C 92.86%);
}

.genre_blush-yellow {
    background: linear-gradient(90deg, #D96F6E 0%, #F2D05C 100%);
}

.books-wrapper {
    width: 100%;
    min-height: 5rem;
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: 1rem;
}

.books-line {
    display: flex;
    margin-left: 1.5rem;
}

.books-wrapper::-webkit-scrollbar {
    display: none;
}

.book {
    display: flex;
    flex-direction: column;
    margin-right: 0.7rem;
    min-width: 130px;
    max-width: 150px;
}

.book__cover {
    max-width: 100%;
}

.book__title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 1em;
    line-height: 140%;
}

.book__autor {
    font-weight: 400;
    font-size: 0.75em;
    color: #4F4F4F;
    line-height: 140%;
}

.book__price {
    font-weight: 600;
    font-size: 0.75em;
    color: #D96F6E;
    line-height: 140%;
}